
.form-container{
    width:100%;
    justify-content: 'center';
}
.name-select{
    flex-grow: 1;
    width:100%;
}
.names{
    display:flex;
    align-items: center;
    margin-top: 15px;
}
.tip-lables{
    width:53%;
    margin:0 5px 0 0;
}
.tip-lables-name{
    width:20%;
    margin:0 5px 0 0;
}
.tip-lables-value{
    /* width:15%; */
    margin:0 5px 0 10px;
}
.tip-lables-bool{
    width:40%;
    margin:0 0 0 0;
}
.input-styled {
    flex-grow: 1;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.2s;
}

.input-styled:focus {
    border-color: blue; /* 或者使用 react-select 使用的主色调 */
    outline: none;
}